
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Noto Sans', sans-serif;
  

}

body {
  color: var(--black);
  background: #FFF;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --black: #3B434E;
  --gray-light: #EBEBEB;
  --gray-darck: #787D85;
  --white: white;
  --primary: #7653FC;
  --primary-hover: #5732EF;
  --red: #FC836D;
  --green: #1DC47E;
  --green-light:#C8F8E4;
  --font-family: 'Noto Sans', sans-serif;
  --background: #E5E5E5;
}
